@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    block-size: border-box;
    margin: 0;
    padding: 0;

}
:root {
    font-size: 10px;
    box-sizing: border-box;
}

body {
    position: relative;
}
figure img{
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: -1;

}
li,a,button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;    
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;

}
#header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0px;
    background-color: #060014;
    margin-bottom: 1.5rem;
    width: 100%;
    position: sticky;
    top: 0;

}

.nav_links {
    list-style: none;
    padding: 1rem 2rem;
}
.nav_links li {
    display: inline-block;
    padding: 8px 10px;
}
.nav_links li a {
    transition: all 0.3s ease 0s;
    
}
.nav_links li a:hover {
color: #7f898b;
}
.sidebar li a:hover {
color: #5daa30;
}


/*----------------*/

.nav_links li {
    position: relative;
    display: inline-block;
}
.sidebar li {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a {
    color: #f1f1f1;

}

.nav_links li:hover .dropdown-content {
    margin-top: .5rem;
    display: block;
    background-color: #06051e;
    border-radius: 1rem;

}
.sidebar li:hover .dropdown-content {
    margin-top: .5rem;
    display: block;
    background-color: #65757cef;
    border-radius: 1rem;

}


.btn {
    display: flex;
    justify-content: space-between;
    list-style: none;
    column-gap: 20px;
    padding: 1rem 2rem;

}
.sidebar .btn,
.btn li a {
    padding: 1.5rem 2rem;
    background-color: rgb(103, 109, 110);
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-size: 2rem;
    list-style-type: none;
}
.sidebar .btn,
.btn li a:hover {
    background-color: rgba(12, 97, 223, 0.945);
    transition: all 0.3s ease 0s;

}

body {
    font-family: Arial, sans-serif;
    background-image: url(../images/4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-size: 2rem;
    color: white;
    min-height: 100vh;
}
/* Styling home page */

h1 {
    color: #333;
    text-align: center;
}


form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label, input, button {
    margin: 5px 0;
}

#main {
    
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}
#current-weather-heading {
    color:  rgb(3, 255, 116);
    font-size: 3rem;
    margin-top: 3rem;
}
#current-weather-heading h2{
    color: rgb(0, 255, 115);
font-size: 3rem;
}
.hero {
    display: flex;
    align-content: flex-end;
    padding: 0 2rem;
    z-index: 0;
}
.hero > * {
    flex: 1 100%;
}
@media all and (min-width:800px){
    .register {
        width: 55%;
    }
    .hidemenu {
        display: none;
    }
    
    .temp_show {
        flex: 1;
        width: max-content;
        height: max-content;
    }

    .temp_right{
        flex: 6 6 12rem;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;

    }
    .temp_others {
        flex: 0 0 14rem;
        width: min-content;
    }
}

@media (min-width:600px)and (max-width: 800px){
    .register {
        width: 70%;
    }
    .hidemenu {
        display: none;
    }
    
    .hero {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .temp_show {
        width: 60%;
        align-self: center;
    }
    #forecast-data  img {
        height: 50%;
        width: 50%;
    }
    .temp_right{
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
    } 
}

@media (max-width:600px){
    .register {
        width: 80%;
        font-size: 2rem;
    }
    .input form input, input::placeholder , .input label{
        font-size: 1.7rem;
    }
    .input input {
        width: 20rem;
    }
    form {
        gap: 0.2rem !important;
    }
    .hidelink {
        display: none;
    }
    .hidemenu {
        display: block;
    }
    #main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;

    }   
    .temp_show {
        flex: 1;
        width: 80%;
    }
    .temp_right {
        width: 100%;
        display: flex;
        flex-direction: column; 
        justify-content: center;
        align-items: center;
        gap: 1rem;
        flex: 1 ;
    }
    #day-1,#day-2, #day-3, #day-4, #day-5 {
        width: 70%;
    }
   

}
.temp_show {
    padding: 1rem 2rem;
    color: white;
    border-radius: 2rem;
    
}
.temp_show img {
    height: 20rem;
    width: 20rem;
}
.data_display h3{
    text-align: center;
    padding: 1rem;
    color: #007bff;
}
.data_display img{
    display: block;
margin: auto;
}

.temp_right {
    height: 100%;
    align-self: flex-end;
    display: flex;
    align-content: flex-end;
    box-sizing: border-box;
    padding: 1rem 2rem;
    justify-content: center;
}
.temp_search {
    grid-column: 3/-1;
    padding: 2.5rem;
}
label {
    font-size: 3rem;
}
.temp_search input[type="text"] 
{
    padding: 1rem 2rem;
    width: 20rem;
    outline: none;
}
.temp_others {
    padding: 1rem 2rem;
    border-radius: 2rem;
   
}
#day-1,#day-2, #day-3, #day-4, #day-5 {
    font-size: 1.4rem;
}

#forecast{
    background-color: #06051e;
    height: 100vh;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
}
#forecast-heading {
    color: #fff;
}
.forecast-heading {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}
#forecast-data img, h3, p{
    color: white;
    z-index: 2;
}

.forecast-form {
    margin-bottom: 20px;
}

.form-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Style for form input */
.form-input {
    width: 100%;
    padding: 1px;
    border: 1px solid #ccc;
    font-size: 1.7rem;
    border-radius: 4px;
}

/* Style for form button */
.form-button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Style for forecast data container */
.forecast-data {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
}
.cloud_image {
height: 50px;
width: 50px;
}
.cloud_image .fa-solid {
    font-size: 200px;
    color: #fff;
}

/*--------------------REgister-----------------*/

.register {
    
    background-color: rgb(12, 13, 14);
    margin: auto;
    margin-top: 5rem;
    padding: 4rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 2rem;
}
.register h1 {
    color: #007bff;
    margin-bottom: 2rem;
    font-size: 4rem;
}
.input form {
    display: grid;
    grid-template-columns: 15rem 30rem;
    justify-content: center;
    font-size: 2.5rem;
    gap: 2rem;
}
#reg {
    grid-column: 1/-1;
    padding: 1rem;
    justify-self: center;
    width: max-content;
    align-self: center;
    cursor: pointer;
    text-align: center;
    border-radius: 1rem;
    border: none;
    background-color: rgb(95, 87, 84);
    color: white;
    font-size: 2.5rem;
    outline: none;
    transition: .5s;
}

#reg:hover {
    background-color: #007bff;
    transition: .5s;
}
.input form input, input::placeholder{
    
    font-size: 2rem;
    padding: 0.3rem 1rem;
    outline: none;
    border-top: none;

}

.register a {
    color: #007bff;
    font-size: 2rem;
}

.register input[type="submitt"] {
    padding: 1rem;
    width: min-content;
    align-self: center;
    cursor: pointer;
    text-align: center;
    border-radius: 1rem;
    border: none;
    background-color: rgb(95, 87, 84);
    color: white;
    font-size: 2.5rem;
    outline: none;
    transition: .5s;
}

.register input[type="submitt"]:hover {
    background-color: #007bff;
    transition: .5s;
}

/*--------Making responsive-----------*/

/* ---Sider bar-- */

.sidebar {
    position: fixed;
    top: 0px;
    right: 0;
    height: 300px;
    width: 250px;
    z-index: 9999;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    backdrop-filter: blur(5px);
    justify-content: flex-start;
    padding: 1rem 2rem;
    gap: 2rem;
    border: 1px solid red;
    
}
li {
    list-style-type: none;
}
.sidebar li {
    text-decoration: none;
    list-style-type: none;
    width: 100%;

}
.sidebar a {
    width: max-content;
}
