body {
    font-family: Arial, sans-serif;
    margin: 0;
    /* padding: 20px; */
    background-color: #2471A3;
}
/* Styling home page */

#home{
    background-image: url("../images/8.avif");
    /* background-color: ; */
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    /* width: auto !important; */
}
h1 {
    color: #333;
    text-align: center;
}

form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label, input, button {
    margin: 5px 0;
}

/* Nav bar styling */
nav {
    background-color: #333;
    padding: 10px 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

a:hover {
    background-color: #555;
}
#forecast{
    /* background-image: url("../images/8.avif"); */
    background-color: #06051e;
    height: 100vh;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    /* width: auto !important; */
}
#forecast-heading {
    color: #fff;
}
/* Style for forecast heading */
.forecast-heading {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

/* Style for form */
.forecast-form {
    margin-bottom: 20px;
}

/* Style for form label */
.form-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Style for form input */
.form-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Style for form button */
.form-button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Style for forecast data container */
.forecast-data {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
}
.cloud_image {
height: 50px;
width: 50px;
}
.cloud_image .fa-solid {
    font-size: 200px;
    color: #fff;
}