<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MeteorMate - Current Weather</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <section id="home">
    {% include 'navbar.html' %}
    <h1 id="current-weather-heading">Weather Forecast for</h1>
    <figure>
        <!-- <img src="../static/images/4.jpg" alt=""> -->
    </figure>
    <!-- <form id="weather-form" action="/forecast" method="get">
    <label for="location">Enter Location:</label>
    <input type="text" id="location" name="location" class="form-control">
    <button type="submit" class="btn btn-primary">Get Weather</button>
    </form> -->
    <div class="hero">
        <div class="temp_show">
            <h3>Todays weather</h3>
            <p>Temprature in celcious</p>
            <p>temprature in franihit</p>
        </div>
        <div class="temp_right">
            <div class="temp_search">
                <label for="search">Search: </label>
                <input type="text" name="city" placeholder="Enter the name of the city">
            </div>
            <div class="temp_others">
                <h3>Location</h3>
                <p>Temprature in celcious</p>
                <p>temprature in franihit</p>
            </div>
            <div class="temp_others">
                <h3>Location</h3>
                <p>Temprature in celcious</p>
                <p>temprature in franihit</p>
            </div>
            <div class="temp_others">
                <h3>Location</h3>
                <p>Temprature in celcious</p>
                <p>temprature in franihit</p>
            </div>
        </div>
    </div>
</section>

</body>
</html>
