<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MeteorMate - Current Weather</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    {% include 'navbar.html' %}
    <section id="home">
        <div id="main">
    <h1 id="current-weather-heading">Weather Forecast</h1>
    <div class="temp_search">
        <input type="text" id="location" name="location" class="form-input" placeholder="Location">
        <button type="button"  onclick="getForecast()" class="form-button">Get Forecast</button>
    </div>
</div>
    
    <div class="hero">
        <div class="temp_show" id="forecast-data">
           
        </div>
        <div class="temp_right" id="error">
            
            <div class="temp_others" id="day-1">
              
            </div>
            <div class="temp_others" id="day-2">
               
            </div>
            <div class="temp_others" id="day-3">
               
            </div>
            <div class="temp_others" id="day-4">
               
            </div>
            <div class="temp_others" id="day-5">
               
            </div>
        </div>
    </div>
</section>

<script src="../static/js/script.js"></script>

</body>
</html>
