<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MeteorMate - Current Weather</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    
</head>
<body>
    <header id="header">
        <a class="navbar-brand" href="/">MeteorMate</a>
        
        <nav>
            <ul class="nav_links">
                <li><a class="nav-link hidelink" href="/">Home</a></li>
                <li>
                    <a class="nav-link hidelink" href="#">Settings</a>
                    <div class="dropdown-content">
                        <a href="#" data-unit="metric">Celsius</a>
                        <a href="#" data-unit="imperial">Fahrenheit</a>
                    </div>
                </li>

                
            </ul>
        </nav>
        <div class="btn">
            <li><a class="nav-link hidelink" href="/logout">logout</a></li>
        </div>
        <li class="hidemenu">
            <a href="#" onclick="showSidebar()">
                <svg xmlns="http://www.w3.org/2000/svg" height="26px" viewBox="0 -960 960 960" width="26px" fill="#e8eaed">
                    <path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/>
                </svg>
            </a>
        </li>
            </header>
    <section>
        
        <nav>
            <ul class="sidebar nav-links">
                <li><a onclick="closeSidebar()"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg></a></li>
                <li><a class="side" href="/">Home</a></li>
                <li>
                    <a class="side nav-link" href="#">Settings</a>
                    <div class="dropdown-content">
                        <a href="#" data-unit="metric">Celsius</a>
                        <a href="#" data-unit="imperial">Fahrenheit</a>
                    </div>
                </li>
                
                <li><a class="side btn"  href="/logout">logout</a></li>
            </ul>
        </nav>
        
    </section>

    <script src="../static/js/script.js">
        
    </script>
</body>
</html>
