<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MeteorMate - Current Weather</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->
</head>
<body>
    <header>
        <a class="navbar-brand" href="/">MeteorMate</a>
        
        <nav>
            <ul class="nav_links">
                <li><a class="nav-link" href="/">Home</a></li>
                <li >
                    <!-- <a class="nav-link" href="/forecast">Weather Forecast</a> -->
                </li>
                <li >
                    <a class="nav-link" href="/history">Weather History</a>
                </li>
                <li >
                    <a class="nav-link" href="/settings">Settings</a>
                </li>
                <li >
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li >
                    <a class="nav-link" href="/contact">Contact</a>
                </li>

            </ul>
        </nav>
            <div class="btn">
                <li >
                    <a class="nav-link" href="/Register">Sign UP</a>
                <li >
                    <a class="nav-link" href="/login">Sign In</a>
                </li>
            </div>
       
    </header>
    
    <!-- Bootstrap JS, jQuery, and Popper.js -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
